*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    background-color: #00000031
}

section,
footer {
    padding: 54px 0;
}

h3 {
    font-size: 50px;
}

p {
    color: #0000009c;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn {
    background-color: rgb(1, 253, 253);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}

.btn.animate-btn{
    animation: animate-outline 2s ease-out infinite;
}
.btn:hover {
    background-color: rgb(255, 0, 0);
}

@keyframes animate-outline {
    from{
        outline: 0px solid #f1f6fc31;
    }
    to{
        outline: 300px solid #fd00009c;
    }
}

header {
    background-color: black;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn):after {
    content: "";
    background-color: white;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner  .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner  .banner-text h1 {
    font-size: 96px;
    color: white;
}

.banner  .banner-text p{
  font-size: 20px;
  color: #ffffffbc;
  font-weight: lighter;
  margin: 18px 0;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 4000px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #ff0202;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
        margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgb(0, 162, 255);
}

#radio1:checked ~ .first{
    margin-left:0;
}

#radio2:checked ~ .first{
    margin-left:-25%;
}

#radio3:checked ~ .first{
    margin-left:-50%;
}

#radio4:checked ~ .first{
    margin-left:-75%;
}

.navigation-auto div {
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}


.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #ff0101;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color:#f10505;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:#ff0000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}